<div class="container">
  <h1>{{title}}</h1>

  <div class="section">
      <h2>Upper & LowerCase Converter</h2>
      <input type="text" [(ngModel)]="name" placeholder="Enter your name">
      <p>Your Name is {{name | uppercase}}</p>
      <p>Your Name is {{name | lowercase}}</p>
  </div>

  <div class="section">
      <h2>Date of Birth Convertor</h2>
      <input type="text" [(ngModel)]="dateOfBirth" placeholder="MM/DD/YYYY">
      <p>Your date of birth {{dateOfBirth | date: 'fullDate'}}</p>
  </div>

  <div class="section">
      <h2>Currency Converter</h2>

      <div class="currency-input">
          <label>Enter amount in USD:</label>
          <input type="number" [(ngModel)]="usdAmount">
          <button (click)="convertToINR()">Convert to INR</button>
          <p>Amount in INR: {{ inrAmount | currency:'INR' }} as on {{today | date }} {{today | date:'h:mm a z'}}</p>
      </div>

      <div class="currency-input">
          <label>Enter amount in INR:</label>
          <input type="number" [(ngModel)]="inrAmount">
          <button (click)="convertToUSD()">Convert to USD</button>
          <p>Amount in USD: {{ usdAmount | currency:'USD' }} as on {{today | date:'fullDate'}} {{today | date:'h:mm a z'}}</p>
      </div>
  </div>
</div>
